*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
}
.container
{
    max-width: 80%;
    margin:0 auto; 
}

.banner
{
    background-image: url(./Images/bannerimg.png);
    height: 500px;
    margin: 40px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    z-index: 1;
    position: relative;
}
.banner::before
{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    border-radius: 16px;
    z-index: -1;
}
.banner-content
{
    text-align: center;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
}

.banner-title
{
color: #FFF;
text-align: center;
font-size: 4rem;
padding: 70px 100px 30px 100px;
font-weight: 800;
}
.banner-description
{
color: #FFF;
text-align: center;
padding: 20px 90px;
line-height: 26px;
}
.banner-form
{
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
height: 60px;
margin: 20px 180px;
display: flex;
justify-content: space-around;
padding: 10px 0;
align-items:center;
}
/* .banner-form::before
{
    content: '';
}
.banner-form::after
{
    content: '';
}  */
/* .banner-form form{
    width: fit-content;
} */
input , select
{
width: 200px;
height: 40px;
background:#FFF;
border-radius: 8px;
border: 0;
}
#place
{
 color: rgba(19, 19, 24, 0.50);
text-align: center;

}
#when,#type
{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
}
#banner-btn
{
 width: 174px;
height: 40px;
border-radius: 8px;
border: 0;
background: #FF5400;
color: #FFF;
font-weight: 700px;
text-align: center;
cursor: pointer;
}
#banner-icon
{
    padding-right: 10px;
}
.tour
{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}
.tp1
{
color: rgba(19, 19, 24, 0.70);
line-height: 26px; /* 162.5% */
margin-top: 24px;
margin-bottom: 24px;
}
.tul ul
{
 color: rgba(19, 19, 24, 0.70);
line-height: 26px; /* 162.5% */
text-align: left;

}
.tul-li
{
    margin: 20px 5px;
}
.tp2
{
color: #5A5A5D;
line-height: 26px; /* 162.5% */
margin-top: 20px;
}
.tour-title
{
color: #131318;
text-align: left;
font-size: 2.5rem;
font-weight: 800;

}
#tour-btn
{
    width: 160px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    background: #FF5400;
    color: #FFF;
    font-weight: 700px;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}
.destination
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.dest-title
{
    color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
margin-bottom: 30px;
}
.dest-description
{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
margin-bottom: 40px;
line-height: 26px; /* 162.5% */
}

.row
{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* .one img ,.two img
{
    position: relative;
}
.maldives,.indo
{
    position: absolute;
    left: 50%;
    bottom: 50%;
} */

.destination img
{
    width: 573px;
    height: 300px;
    border-radius: 16px;
}
#last
{
    gap: 20px;  
}
#big
{
    width: 673px;
}
#small
{
    width: 540px;
}
/* choose section */
.Choose
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.choose-title
{
    color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
margin: 20px 0;
}
.choose-des
{
color: rgba(19, 19, 24, 0.70);
text-align: center;
line-height: 26px; 
margin: 10px 0;
/* 162.5% */
}
.choose-row-1
{
    display: flex;
    gap: 24px;
    margin: 20px 0;
}
.hotels
{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
width: 573px;
height: 100%;
padding: 20px;
text-align: left;
}
#hotel-title,#wc-title,#price-title
{
    color: #131318;
    margin-top: 10px;

font-size: 1.5rem;
font-weight: 800;
line-height: normal;
}
#hotel-des,#wc-description,#price-des
{
color: #5A5A5D;
margin-top: 10px;
margin-bottom: 10px;
line-height: 26px; /* 162.5% */
}
.world-class
{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
width: 573px;
height: 100%;
padding: 20px;
text-align: left;
}
.world-class span,
.hotels span,
.price span
{
    width: 64px;
    height: 64px;
}
.choose-row-2
{
    display: flex;
}
.price
{
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 30px 300px;
    width: 573px;
    height: 100%;
}
/* choose section ends */
/* .grid-box1
{
    grid-area: grid-box1;
}
.grid-box2
{
    grid-area: grid-box2;
}
.grid-box3
{
    grid-area: grid-box3;
}
.grid-box4
{
    grid-area: grid-box4;
}
.grid-box5
{
    grid-area: grid-box5;
}
.grid-box6
{
    grid-area: grid-box6;
}
.grid-box7
{
    grid-area: grid-box7;
} */
/* .row
{
    display: grid;
    grid-template-areas:
     "box1 box1 box2 "
     "box3 box4 box5"
     "box6 box6 box7"
    ;
} */

/* newsletter section starts */

.newsletter
{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}
.letter
{
    border-radius: 16px;
border: 1px solid #FF5400;
padding: 40px;
}
.letter-title
{
    color: #131318;

font-size: 2rem;
margin: 5px 0;
font-weight: 800;
line-height: normal;
}
.letter-des
{
    color: #5A5A5D;
margin: 5px 0;
line-height: 26px; /* 162.5% */
}
.letter-line
{
    background-color: rgba(14, 14, 21, 0.1);
    height: 2px;
    width: 80%;
    margin: 10px 0;
}
.letter-form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    width: 80%;
}
#letter-name
{

 padding: 7px 10px;
 border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}
#letter-email
{

 padding: 7px 10px;
 border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}
#letter-btn
{
border-radius: 8px;
background: #FF5400;
border: 0;
color: #FFF;
width: 80%;
padding: 7px 10px;
}
/* #letter-png
{
    position: relative;
} */
.letter-img
{
    position: relative;
}
.letter-div
{
    position: absolute;
    border-radius: 16px;
background: #FF5400;
width: 324px;
height: 120px;
transform: rotate(-19.628deg);
bottom: 52px;
right: 9px;
text-align: center;
}
.letter-div-a
{
    color: #FFF;
text-align: center;
font-size: 1.2rem;
padding: 10px 30px;
text-decoration: none;
}
.letter-div-title
{
color: #FFF;
font-size: 1.8rem;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 10px;

}
/* newsletter section ends */

/* footer begins */
.footer
{
    background: rgba(19, 19, 24, 0.05);
    height: 350px;
    margin-top: 100px;
}
.footer-contents
{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-contents h3
{
    color: #131318;
font-family: Mulish;
font-size: 1.5rem;
font-style: normal;
font-weight: 800;
}
.footer-contents span
{
    color: #FF5400;
font-size: 1.5rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.footer-contents img
{
    width: 28px;
    height: 30px;
    margin-right: 20px;
}
/* .footer-titles
{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.footer-des
{
    margin: 10px auto;
    text-align: center;
    color: #5A5A5D;
    font-size: 1rem;
    line-height: 24px; /* 171.429% */    
    

}
.footer-icons
{
    margin: 30px 0;
    display: flex;
     justify-content: space-around; 
    align-items: center;
}
.footer-line
{
    background-color: rgba(14, 14, 21, 0.1);
    height: 2px;
    width: 100%;
    margin: 10px 0;
}
.all-rights
{
color: #131318;
font-size: 1rem;
font-style: normal;
font-weight: 300;
text-align: center;
margin: 30px 0;
}
@media screen and (max-width:600px)  {

     .banner-title
     {
        font-size: 1.2rem;
        padding: 20px 5px;
     }
     .banner-description
     {
        font-size: 1.1rem;
        padding: 5px 20px;
     }
    .banner-form
    {
        flex-direction:column; 
        margin: 40px auto;
        width: 200px;
        height: 100%;
        gap: 15px;
       
    }
    input,select,#banner-btn
    {
        width: 100px;
        height: 20px;
        margin: 5px ;
    }
    .tour{
        flex-direction: column;
    }
    .tour-title{
        font-size: 2rem;
        margin: 5px;
    }
    .tp1,.tp2
    {
        font-size: 0.8rem;
        margin: 10px;
    }
    .tul-li
    {
        margin: 5px;
        font-size: 0.8rem;
    }
    .tour-img img
    {
        width: 100%;
        height:100%;
    }
    .dest-title
    {
        font-size: 1.25rem;
        font-weight: 800;
    }
    #first,
    #second,
    #last{
        flex-direction: column;
        gap: 5px;
        margin: 10px auto;
    }
      .destination img
      {
        width: 100%;
        height: 100%;
      }
     #small,#big
    {
        width: 100%;
        height: 100%;
    }
    /* #small,
    #big
    {
        width: 50%;
        height: 100%;
    }  */

    .dest-description
    {
        font-size: 0.8rem;
    }
    .choose-row-1,.choose-row-2
    {
        flex-direction: column;
        margin: 5px 0;
    }
    .price,.hotels,.world-class
    {
        width: 90%;
        height: 60%;
       margin: 5px 0;
    }
    #hotel-title,#wc-title,#price-title
    {
        margin: 0;
        font-size: 1rem;
    }
#hotel-des,#wc-description,#price-des
{
margin:5px;
}
.newsletter
{
    flex-direction: column;
    margin: 0 auto;
}
 /* .letter
{
    width: 100%;
}  */
 .letter-img img
{
    width: 100%;
    
} 
.letter-div
{
    right: 10px;
    bottom: 34px;
    width: 200px;
    height: 100px;
}
.letter-div-title
{
    font-size: 1.2rem;
}
.footer
{
    height: 300px;
}

.footer-des
{
    margin: 5px auto;
    font-size: 0.8rem;
}
.footer-contents
{
    padding: 20px ;
}
.footer-contents h3,
.footer-contents span
{
font-size: 1.3rem;

}
.all-rights
{
    font-size: 0.8rem;
    margin: 10px 0;
}

}